<div class="body">
  <div class="users" *ngIf="users$ | async; let users">
    <div class="user" *ngFor="let user of users">
      <div class="colourful-callout">
        <div class="user-information">
          <h3 class="name">{{user.firstName | uppercase}} {{user.lastName | uppercase}}</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            explicabo iste accusantium? Similique quo quas.
          </p>
          <p class="email">User's email: {{user.email}}</p>
          <p class="email">Role: {{user.role}}</p>
          <button class="btn" routerLink="/user/{{user.id}}">CHANGE</button>
        </div>
      </div>
    </div>
  </div>
  
  <button mat-fab class="dialog-btn">
    <mat-icon (click)="showForm()">add</mat-icon>
  </button>
</div>
