.body {
  background-color: #000;
  background: linear-gradient(to bottom right, #1f2329, 80%, rgb(94, 166, 233));
  margin: 0;
  padding: 0;
  height: 100%;
}

.users {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dialog-btn {
  position: fixed;
  bottom: 19px;
  right: 19px;
}
