.page {
  min-height: 100%;
  background-color: #000;
  background: linear-gradient(to bottom right, #1f2329, 80%, rgb(94, 166, 233));
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card {
  border: 2px solid #3884ff;
  background-color: #1f2329;
  color: #fff;
  width: 45vw;
  transition: 200ms ease;
}

.create__btn {
  height: auto;
  width: 50vw;
  margin-bottom: 3em;
}

::ng-deep .mat-checkbox-background {
  background-color: #3884ff;

}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #3884ff;
  border-color: rgb(228, 233, 235) !important;
}


@media (max-width: 920px) {
  .card {
    width: 85vw;
    transition: 200ms ease;
  }
}