  <div class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium"
       data-duration="600" data-doc-height="1"
       style="will-change:background; background-color: #1f2329"
       *ngIf="router.url !== '/login' && router.url !== '/register'">
    <div class="container height-100 w-container">
      <div class="nav-flex">
        <a href="/" class="brand w-nav-brand">
          <h2 style="width: 146px; height: 30px; color: white">InventorWiki</h2>
        </a>
        <nav  class="nav-menu w-nav-menu">
          <div class="nav-menu-content">
            <div class="nav-links-wrapper">
              <div class="wrapper-links__nav-bar">
                <a [routerLink]="['']" class="nav-link-wrap w-inline-block w--current">
                  <div>Home</div>
                </a>
                <a [routerLink]="['role']" class="nav-link-wrap w-inline-block" *ngIf="isSuperAdmin">
                  <div>Roles page</div>
                </a>
                <a [routerLink]="['users']" class="nav-link-wrap w-inline-block" *ngIf="isGuest" >
                  <div>Users</div>
                </a>
                <a [routerLink]="['posts']" class="nav-link-wrap w-inline-block" style="opacity: 1;"  *ngIf="isGuest"  >
                  <div>My posts</div>
                </a>
                <a [routerLink]="['add-category']" class="nav-link-wrap w-inline-block" *ngIf="isGuest" >
                  <div>Category</div>
                </a>
              </div>
              <a [routerLink]="['profile_settings']" class="filled-btn-arrow no-margin-top nonauth w-inline-block" *ngIf="isGuest" >
                <div class="filled-btn-arrow-text" >
                  {{currentUserNme}}
                </div>
              </a>
              <a href="/" class="nav-link-wrap nonauth w-inline-block" style="opacity: 1;" *ngIf="isGuest" >
                <div (click)="logOut()">
                  LogOut
                </div>
              </a>
              <a [routerLink]="['login']" class="nav-link-wrap nonauth w-inline-block" style="opacity: 1;" *ngIf="!isGuest">
                <div (click)="logOut()">
                  Sing In
                </div>
              </a>
              <a [routerLink]="['/register']" class="nav-link-wrap nonauth w-inline-block" style="opacity: 1;" *ngIf="!isGuest">
                <div>
                  Sing Up
                </div>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>