h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Inter, sans-serif;
  line-height: 1.15em;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  background-color: transparent;
  font-family: Inter, sans-serif;
  color: #3884ff;
  font-weight: 700;
  text-decoration: none;
}

.w-nav {
  position: relative;
  background: #ddd;
  z-index: 1000;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none none;
  border-width: 4px 1px 1px;
  border-color: #da42b1 #000 #000;
  background-color: #1f2329;
}

.w-nav:after, .w-nav:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:after {
  clear: both;
}

.w-nav:after, .w-nav:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.container.height-100 {
  height: 100%;
}

.nav-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
}

.nav-menu {
  position: relative;
  z-index: 999;
  overflow: visible;
  height: auto;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.nav-menu-content {
  position: relative;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-links-wrapper {
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.nav-link-wrap {
  position: relative;
  z-index: auto;
  overflow: visible;
  margin-right: 8px;
  padding: 24px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  align-self: auto;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  -o-object-fit: fill;
  object-fit: fill;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.filled-btn-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-right: 16px;
  padding: 10px 16px 10px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #3884ff;
  border-radius: 4px;
  background-color: #3884ff;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: .4px;
  text-decoration: none;
  text-transform: capitalize;
}

.filled-btn-arrow-text {
  display: block;
  margin-right: 8px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: 250ms;
  transition: 250ms;
  font-weight: 600;
}

.nav-link-wrap.nonauth {
  -webkit-transition: .2s;
  transition: .2s;
}

.filled-btn-arrow.no-margin-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.container {
  max-width: 1328px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
}
