.form {
  &__container {
    padding: 1em;
    background: #1f2329;
    width: 30vw;
    height: 30vh;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    .form {
      padding: 20px;
      display: flex;
      flex-direction: column;

      mat-form-field {
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #7b3fe1 inset !important;
          -webkit-text-fill-color: rgba(255, 255, 255, 0.8) !important;
        }
        .mat-icon {
          padding-right: 10px;
        }
      }

      &__btn {
        border: 2px solid #3884ff;
        color: white;
        margin: 20px 0px;
        background: #1f2329;
        margin-top: 3em;
      }

      &__link {
        text-align: center;
      }
    }
  }
  &__title {
    color: inherit;
    text-align: center;
    font-weight: normal;
  }
}

.checkbox__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 3.5em;
  width: auto;
}

::ng-deep {
  .mat-dialog-container {
    background-color: #1f2329;
    color: rgb(234, 242, 247);
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3884ff;
  border-color: violet !important;
}


@media screen and (max-width: 850px) {
  h2 {
    margin: 0px !important;
  }
}