<div class="page">
  <div class="form__container">
    <h2 class="form__title">Create new Role</h2>
    <form class="form" [formGroup]="roleForm">
      <mat-form-field>
        <mat-label>Type Role Name</mat-label>
        <input type="text" matInput formControlName="roleName" />
        <mat-error
          *ngIf="roleName.invalid && (roleName.dirty || roleName.touched)"
        >
          <mat-error *ngIf="roleName.errors?.required"
            >Field is required</mat-error
          >
          <mat-error *ngIf="roleName.errors?.minlength"
            >Min length is 2 characters</mat-error
          >
          <mat-error *ngIf="roleName.errors?.NameNotAllowed"
            >this Name exist</mat-error
          >
        </mat-error>
      </mat-form-field>
      <section class="checkbox__group">
        <mat-checkbox formControlName="create" class="example-margin"
          >create</mat-checkbox
        >
        <mat-checkbox formControlName="read" class="example-margin"
          >read all posts</mat-checkbox
        >
        <mat-checkbox formControlName="update" class="example-margin"
          >update all posts/users data and roles</mat-checkbox
        >
        <mat-checkbox formControlName="createCategory" class="subtask.color"
        >create categories</mat-checkbox
        >
        <mat-checkbox formControlName="remove" class="subtask.color"
          >remove posts/users</mat-checkbox
        >
      </section>

      <button
        mat-raised-button
        color="Primary"
        (click)="createNewRole()"
        [disabled]="roleForm.invalid"
      >
        CRATE ROLE
      </button>
    </form>
  </div>
</div>
