.container {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0px;
    padding: 0px 90px;
    max-width: 1000px;
}

.form {
    font-family: "Segoe", Helvetica, Arial, sans-serif;

    &-title {
        width: 100%;
        &__input {
            display: block;
            margin-left: -3px;
            width: 100%;
            border: none;
            color: rgb(234, 242, 247);
            font-size: 48px;
            font-weight: bold;
            line-height: 56px;
            background-color: inherit;
            &:focus {
                outline: none;
            }
        }
    }
    &-category {
        color: rgb(162, 169, 185);
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
    }
}

.select {
    border: none;
    background-color: rgb(45, 50, 58);
    &-option {
        color: white;
        line-height: 20px;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }
    &:focus {
        border: none;
        outline: none;
    }
}

.btn-group__item {
    display: block;
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
    padding: 14px;
    border-radius: 4px;
    border-width: 1px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    box-shadow: rgb(0 0 0 / 69%) 0px 1px 2px;
    background-color: rgb(24, 28, 31);
    border-color: rgb(43, 46, 57);
    color: rgb(162, 169, 185);
    &:hover {
        color: rgb(52, 109, 219);
        border-color: rgb(52, 109, 219);
    }
}

.mat-divider {
    margin: 10px 0px;
}

::ng-deep {
    .mat-menu {
        background-color: rgb(45, 50, 58);
        .mat-icon {
            color: rgb(52, 109, 219);
        }
        span {
            color: white;
        }
    }
    .NgxEditor {
        min-height: 100px;
        max-height: 400px;
        background-color: rgb(24 28 31) !important;
        border: 1px solid #374151 !important;

        &__MenuBar {
            background-color: rgb(24 28 31) !important;
            border: 1px solid #374151;
            color: rgb(162, 169, 185);
        }
        &__Content {
            line-height: 24px;
            font-weight: 400;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            color: rgb(162, 169, 185);
            border-radius: 4px;
            border-width: 1px;
        }
        &__Seperator {
            border-left: 1px solid #374151 !important;
        }
        &__MenuItem {
            &--IconContainer {
                &:hover {
                    // border: 1px solid rgb(52, 109, 219);
                    svg {
                        fill: rgb(20, 24, 32);
                    }
                }
            }
            svg {
                fill: rgb(162, 169, 185);
            }
        }
        &__Popup {
            background-color: rgb(45, 50, 58) !important;
        }
        &__Dropdown {
            background-color: inherit !important;
            &--Active {
                background-color: rgb(24 28 31) !important;
                border: 1px solid rgb(43, 46, 57);
                color: rgb(52, 109, 219) !important;
            }
        }
        &__Dropdown--Item {
            background-color: rgb(24 28 31);
            &:hover {
                background-color: rgb(45, 50, 58) !important;
                border: 1px solid rgb(52, 109, 219);
            }
        }
        overflow-y: auto;
    }
}
