<div class="page">
    <div class="form__container">
        <div class="form__title">Enter your email and we will send you informaition about reset password</div>
        <form class="form" [formGroup]="resetGroup">


            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Type your email" formControlName="email">
                <mat-icon matPrefix>mail_outline</mat-icon>

                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                    <mat-error *ngIf="email.errors?.required">Field is required</mat-error>
                    <mat-error *ngIf="email.errors?.email">Invalid email</mat-error>
                </mat-error>

            </mat-form-field>

            <button class="form__btn" mat-button (click)="SendForReset()" [disabled]="resetGroup.invalid"
                type="submit">Send</button>

            <mat-error *ngIf="isError">{{errorMessage}}</mat-error>
            <div class="info" *ngIf="isDone">Letter has been sent</div>
        </form>

        <div class="form__link">
            <a mat-button routerLink="/login" href="#">SIGN IN</a>
        </div>

    </div>
</div>