.div_body {
  background-color: #1f2329;
  height: 100%;
  padding-top: 48px;

}
.main_form_div {
  width: 650px;
  border: 2px solid #7b3fe1;
  max-width: 1328px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 48px;
  background-color: whitesmoke;
}
form {
  margin-bottom: 25px;
}
.button {
  margin-left: 10px;
  font-size: 44px;
  text-decoration: none;
  border: none;
  background: none;
  color: green;
  cursor: pointer;
}
.sub_button {
  margin-left: 10px;
}

