.container{
    display: flex;
    min-height: 100vh;
}

.navigation-group {
    flex-basis: 25%;
    background-color: #14171c;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #374151;

    &__item {
        align-items: center;
        cursor: pointer;
    }

    .post-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 22px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding: 8px 16px;
        color: rgb(204, 207, 212);
        // color: rgb(92, 105, 117);
        &__content {
            overflow: hidden;
            display: flex;
            align-items: center;
            .menu-icon-container {
                margin-bottom: -8px;
                margin-right: 10px;
            }
        }
        &.inFocus {
            background-color: rgb(24, 28, 31);
            color: rgb(68, 119, 222);
            border: 1px solid rgb(55, 65, 81);
            &:hover {
                background-color: rgb(24, 28, 31);
            }
            mat-icon {
                color: rgb(68, 119, 222);
            }
        }
        &__menu-icon {
            background-color: inherit;
            border: none;
            cursor: pointer;
            width: 10px;
            margin-right: 16px;
            padding-top: 6px;
            mat-icon {
                // color: rgb(92, 105, 117);
                color: rgb(204, 207, 212);
            }
        }
        &:hover {
            background-color: rgb(54 60 65);
            // background-color: rgb(220, 226, 237);
        }
    }
    .create-btn {
        display: block;
        border: none;
        width: 100%;
        padding: 14px 16px;
        color: rgb(162, 169, 185);
        // color: rgb(136, 153, 168);
        line-height: 22px;
        font-weight: 500;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: inherit;
        &:hover {
            background-color: rgb(54 60 65);
        }
        span {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.content-group {
    flex-basis: 75%;
    background-color: rgb(24 28 31);
    border: 1px solid #374151;
    border-left: none;
    display: flex;
    flex-direction: column;
}

.btn-group {
    display: flex;
    max-width: 1000px;
    padding: 0px 90px;
    flex-direction: row;
    &__item {
        display: block;
        width: 100%;
        box-shadow: rgb(0 0 0 / 69%) 0px 1px 2px;
        margin-bottom: 8px;
        margin-right: 0px;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0%;
        cursor: pointer;
        background-color: rgb(24, 28, 31);
        padding: 14px;
        border-color: rgb(43, 46, 57);
        border-radius: 4px;
        border-width: 1px;
        color: rgb(162, 169, 185);
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        position: relative;
        &:hover {
            color: rgb(52, 109, 219);
            border-color: rgb(52, 109, 219);
        }
    }
    .btn-prev {
        margin-right: 6px;
    }
    .btn-prev__icon {
        position: absolute;
        top: 16px;
        left: 10px;
    }
    .btn-next {
        margin-left: 6px;
    }
    .btn-next__icon {
        position: absolute;
        top: 16px;
        right: 10px;
    }
}

.mat-divider__navigation {
    margin: 10px 0px;
    background-color: #374151;
}

::ng-deep .mat-menu {
    background-color: rgb(45, 50, 58);
    .mat-icon {
        color: rgb(52, 109, 219);
    }
    span {
        color: white;
    }
}

.no-posts {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14171c;
    padding: 90px;
    &-title {
        display: block;
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        color: rgb(234, 242, 247);
    }
    &-btn{
        width: 100%;
        cursor: pointer;
        padding: 14px;
        border-radius: 4px;
        border-width: 1px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
        font-family: "Open Sans", sans-serif;
        position: relative;
        box-shadow: rgb(0 0 0 / 69%) 0px 1px 2px;
        background-color: rgb(24, 28, 31);
        border-color: rgb(43, 46, 57);
        color: rgb(162, 169, 185);
        display: flex;
        text-align: center;
        justify-content: center;
        span{
            display: inline-block;
            margin-left: 10px;
        }
        &:hover {
            color: rgb(52, 109, 219);
            border-color: rgb(52, 109, 219);
        }
    }
}
