<div class="main">
  <div class="section blog wf-section">
    <div class="container w-container">
      <h2 class="purple-header">Powered by InventorWiki</h2>
      <p class="paragraph-580px left-660px">Individuals and teams from all over the world are publishing amazing content
        on InventorWiki. Discover more about their stories.</p></div>
  </div>
  <div class="section_content">
    <div class="container_main container ">
      <div class="list_div">
        <div>
          <ul class="list" style="cursor: pointer">
            <li><a (click)="getAllPost()"
            >All posts</a></li>
          </ul>
        </div>


        <span >
          <div *ngFor="let category of allCategories">
            <ul class="list" disabled="{}">
              <li>
                <a
                  [routerLink]="['']"
                  (click)="getQueryFromCategory(category.name); getSubCategoryList(category)">
                  {{category.name}}
                </a>
              </li>
            </ul>
            <div *ngIf="info && categoryInfo.id === category.id">
              <ng-container *ngFor="let subCategory of category.subCategories">
                <ul class="sub-ul">
                  <li class="sub-li">
                    <a [routerLink]="['']"
                       (click)="getQueryFromCategory(subCategory.name)">
                      {{subCategory.name}}
                    </a>
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </span>
      </div>
      <div class="posts-container">
        <div class="main-posts">

          <div class="wrapper_empty_posts" *ngIf="!(allPosts.length > 0)">
            <h1>No posts in this category or sub-category</h1>
          </div>
          <div *ngFor="let post of allPosts" class="example">
            <mat-card class="example-card">
              <mat-card-title-group style="flex-direction: column">
                <mat-card-title style="display: flex; justify-content: space-between">{{post.title}}
                  <div style="display: flex" *ngIf="!hidenButton">
                    <button style="background: transparent; border: 0; cursor: pointer"
                            [hidden]="!isSuperAdmin && !isAdmin"
                            (click)="editPostForAdmin(post.id)">
                      <mat-icon color="accent">edit</mat-icon>
                    </button>
                    <button style="background: transparent; border: 0; cursor: pointer"
                            [hidden]="!isSuperAdmin && !isAdmin">
                      <mat-icon color="warn">delete_outline</mat-icon>
                    </button>
                    <button style="background: transparent; border: 0; cursor: pointer"
                            [routerLink]="'/posts'">
                      <img src="https://assets-global.website-files.com/600ead1452cf056d0e52dbed/6011b66d7c0cc76dccba5953_external-link.svg" alt="">
                    </button>
                  </div>
                </mat-card-title>
                <mat-card-subtitle class="desc">{{post.category}} </mat-card-subtitle>
              </mat-card-title-group>
              <mat-card-content [innerHTML]="post.content">
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="modal-footer">-->
<!--    <div style="margin-left: 25px"><h4 style="color: #fff; margin-right: 15px"> All right reserved by </h4></div>-->
<!--    <div><h4 class="footer">InventorWiki</h4></div>-->
<!--  </div>-->
</div>
