<div class="main">
  <div class="section">
    <div class="container w-container">
      <h2 class="purple-header">Powered by InventorWiki</h2>
      <p class="paragraph-580px left-660px">Individuals and teams from all over the world are publishing amazing content
        on InventorWiki. Discover more about their stories.</p>
    </div>
  </div>
  <div class="section_content">
    <div class="container_main container ">
      <div class="list_div">
        <div>
          <ul class="list">
            <li [class]="{active: catIndex === 0}" (click)="getAllPost()">All posts</li>
          </ul>
        </div>
        <div *ngFor="let category of allCategories; let i = index">
          <ul class="list" id="category_menu">
            <li [class]="{active: catIndex === i+1}"
              (click)="getQueryFromCategory(category.name, i+1); getSubCategoryList(category)">
              {{category.name}}
            </li>
          </ul>
          <div *ngIf="collapseSubCategory && categoryInfo.id === category.id">
            <ng-container *ngFor="let subCategory of category.subCategories; let i = index">
              <ul class="sub-ul">
                <li [class]="{active: subIndex === i}" class="sub-li"
                  (click)="getQueryFromSubCategories(subCategory.name, i)">
                  {{subCategory.name}}
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="posts-container">
        <div class="main-posts">
          <div class="wrapper_empty_posts" *ngIf="!(allPosts.length > 0)">
            <h1>No posts found</h1>
          </div>
          <div *ngFor="let post of allPosts" class="example">
            <mat-card class="example-card" [routerLink]="['/post', post.id]">
              <mat-card-title-group style="flex-direction: column">
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle class="desc">{{post.category}} </mat-card-subtitle>
              </mat-card-title-group>
              <mat-card-content [innerHTML]="post.content">
              </mat-card-content>
            </mat-card>
            <div class="post-buttons" *ngIf="!hidenButton">
              <button style="background: transparent; border: 0; cursor: pointer; z-index: 3;"
                [hidden]="!isSuperAdmin && !isAdmin" (click)="editPostForAdmin(post); $event.preventDefault();">
                <mat-icon color="accent">edit</mat-icon>
              </button>
              <button style="background: transparent; border: 0; cursor: pointer; z-index: 3;"
                [hidden]="!isSuperAdmin && !isAdmin" (click)="deletePostForAdmin(post.id); $event.preventDefault();">
                <mat-icon color="warn">delete_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-fab-container" [hidden]="isGuest">
    <button mat-fab class="dialog-btn" color="primary" (click)="addPost()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>