@import "ngx-editor";

.container {
    display: flex;
    flex-direction: column;
}

.form {
    font-family: "Segoe", Helvetica, Arial, sans-serif;
    max-width: 560px;
    &-title {
        position: relative;
        width: 100%;
        &__input {
            display: block;
            margin-left: -3px;
            width: 100%;
            border: none;
            color: rgb(234, 242, 247);
            font-size: 32px;
            font-weight: bold;
            line-height: 36px;
            background-color: inherit;
            margin-bottom: 16px;
            border-bottom: 0.07em solid inherit;
            &:focus {
                outline: none;
            }
            // &:hover{
            //     border: 0.07em solid rgb(52, 109, 219);
            // }
        }
    }
    &-category {
        display: flex;
        margin-top: 10px;
        color: rgb(162, 169, 185);
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        &-item:first-child {
            margin-right: 10px;
        }
        &-btn {
            display: flex;
            align-items: center;
        }
    }
}

.btn-group {
    display: flex;
    flex-direction: row;
    margin-top: 18px;

    &__item {
        cursor: pointer;
        display: block;
        padding: 14px;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0%;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
        font-family: "Open Sans", sans-serif;
        position: relative;
        box-shadow: rgb(0 0 0 / 69%) 0px 1px 2px;
        background-color: rgb(24, 28, 31);
        border: 1px solid #374151;
        border-radius: 4px;
        color: rgb(162, 169, 185);
        &:first-child {
            margin-right: 10px;
        }
        &:hover {
            color: rgb(52, 109, 219);
            border-color: rgb(52, 109, 219);
        }
        // &:disabled {
        //     color: rgb(162, 169, 185);
        //     &:hover {
        //         border: 1px solid #374151;
        //         color: rgb(162, 169, 185);
        //     }
        // }
    }
}

.mat-divider {
    margin: 10px 0px;
}

::ng-deep .mat-menu {
    background-color: rgb(45, 50, 58);
    .mat-icon {
        color: rgb(52, 109, 219);
    }
    span {
        color: white;
    }
    &-panel {
        max-height: 190px;
    }
}

.invalid {
    border-bottom: 1.9px solid #f44336;
}

.validation-container {
    position: relative;
}

.mat-error {
    color: #f44336;
    text-align: left;
    font-size: 0.75em;
    font-weight: 400;
    &-input,
    &-category {
        position: absolute;
        bottom: -16px;
        left: 0;
    }
    &-category {
        bottom: -24px;
    }
}

.NgxEditor__Wrapper {
    border: 1px solid #374151;
    &:hover {
        border: 1px solid rgb(52, 109, 219);
    }
    &-error {
        border: 1.9px solid #f44336;
        &:hover {
            border: 1.9px solid #f44336;
        }
    }
}
