.container {
    display: flex;
    flex-direction: column;
}

.form {
    font-family: "Segoe", Helvetica, Arial, sans-serif;
    &-title {
        width: 100%;
        &__input {
            display: block;
            margin-left: -3px;
            width: 100%;
            border: none;
            color: rgb(234, 242, 247);
            font-size: 36px;
            font-weight: bold;
            line-height: 40px;
            background-color: inherit;
            &:focus {
                outline: none;
            }
        }
    }
    &-category {
        color: rgb(162, 169, 185);
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
    }
}

.select {
    border: none;
    background-color: rgb(45, 50, 58);
    &-option {
        color: white;
        line-height: 20px;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }
    &:focus {
        border: none;
        outline: none;
    }
}

.btn-group {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    &__item {
        cursor: pointer;
        display: block;
        padding: 14px;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0%;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
        font-family: "Open Sans", sans-serif;
        position: relative;
        box-shadow: rgb(0 0 0 / 69%) 0px 1px 2px;
        background-color: rgb(24, 28, 31);
        border: 1px solid #374151;
        border-radius: 4px;
        color: rgb(162, 169, 185);
        &:first-child {
            margin-right: 10px;
        }
        &:hover {
            color: rgb(52, 109, 219);
            border-color: rgb(52, 109, 219);
        }
    }
}

.mat-divider {
    margin: 10px 0px;
}

::ng-deep {
    .mat-dialog-container {
        overflow: hidden;
        background-color: rgb(24 28 31);
    }
    .mat-menu {
        background-color: rgb(45, 50, 58);
        .mat-icon {
            color: rgb(52, 109, 219);
        }
        span {
            color: white;
        }
    }
    .NgxEditor {
        min-height: 40px;
        max-height: 190px;
        max-width: 800px;
        background-color: rgb(24 28 31) !important;
        border: 1px solid #374151 !important;

        &__MenuBar {
            background-color: rgb(24 28 31) !important;
            border: 1px solid #374151;
            color: rgb(162, 169, 185);
        }
        &__Content {
            line-height: 18px;
            font-weight: 400;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            color: rgb(162, 169, 185);
            border-radius: 4px;
            border-width: 1px;
        }
        &__Seperator {
            border-left: 1px solid #374151 !important;
        }
        &__MenuBar {
            overflow: auto;
        }
        &__MenuItem {
            &--IconContainer {
                &:hover {
                    svg {
                        fill: rgb(20, 24, 32);
                    }
                }
            }
            svg {
                fill: rgb(162, 169, 185);
            }
        }
        &__Popup {
            background-color: rgb(45, 50, 58) !important;
        }
        &__Dropdown {
            background-color: inherit !important;
            &--Active {
                background-color: rgb(24 28 31) !important;
                border: 1px solid rgb(43, 46, 57);
                color: rgb(52, 109, 219) !important;
            }
        }
        &__Dropdown--Item {
            background-color: rgb(24 28 31);
            &:hover {
                background-color: rgb(45, 50, 58) !important;
                border: 1px solid rgb(52, 109, 219);
            }
        }
        overflow-y: auto;
    }
}


