.container {
    background-color: #181c1f;
    width: 100%;
    height: 100%;
}

.post {
    padding: 16px 30px;
    max-width: 700px;
    margin: 0px auto;
}

.content {
    margin-top: 10px;
    color: rgb(162, 169, 185);
    letter-spacing: -0.003em;
    line-height: 32px;
    margin-top: 2em;
    font-size: 21px;
    margin-bottom: -0.46em;
    letter-spacing: -0.004em;
    line-height: 1.58;
    font-style: normal;
    word-break: break-word;
    font-weight: 400;
    word-wrap: break-word;
    font-family: "Tinos", serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    margin-left: -3px;
    letter-spacing: -0.011em;
    margin-top: 0.6em;
    color: rgb(234, 242, 247);
    margin-bottom: 0.1em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0;
    font-family: "Arimo", sans-serif;
    line-height: 56px;
    font-size: 46px;
    @media screen and (max-width: 600px) {
        line-height: 44px;
        font-size: 38px;
    }
}

a {
    color: rgb(162, 169, 185);
}

.mat-divider {
    margin: 19px 0px;
    background-color: #374151;
}

.subtitle {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(162, 169, 185);
    line-height: 20px;
    font-size: 14px;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    .category {
        display: block;
        margin-left: auto;
        margin-right: 4px;
        padding-left: 10px;
        @media screen and (max-width: 615px) {
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            margin-top: 10px;
            width: 100%;
            text-align: left;
        }
    }
    .reading-time,
    .data-creation {
        padding: 0px 10px;
        letter-spacing: -0.003em;
        word-spacing: -0.001em;
    }
    .author-icon {
        text-align: center;
        width: 28px;
        height: 28px;
        color: #eaf2f7;
        font-size: 14px;
        border-radius: 50%;
        background-color: #455a64;
        span {
            display: block;
            margin-top: 4px;
        }
    }
    .author-name {
        display: block;
        font-weight: 700;
        padding: 0px 16px 0px 4px;
    }
    @media screen and (max-width: 424px) {
        .author-name {
            text-align: start;
            width: 70%;
        }
        .author-icon,
        .author-name {
            margin-bottom: 10px;
        }
        .data-creation {
            padding: 0px;
            padding-right: 10px;
        }
    }
}

.mat-icon-visibility_off {
    display: none;
    @media screen and (max-width: 1200px) {
        display: inline-block;
    }
}
