/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/fonts/fonts.css";


html, body { 
    height: 100%; 
    box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$white-font: #fff;
$background: #1f2329;
$pink-font: #da42b1 #000 #000;